@media screen and (min-width:667px) and (max-width:690px) {

    /* * {
        background: rgba(255, 0, 0, 0.418);
    } */

    /* parallax effect */

    .pimg1,
    .pimg2,
    .pimg3 {

        /*
        fixed = parallax
        scroll = normal
    */
        background-attachment: scroll;
    }

    .container p {
        padding-left: 0px;
    }

    .ptext {
        font-size: .75em;
    }

    .section {
        padding: 10px 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */
    .toggle.active {
        padding-right: 500px;
        background-color: red;
        background-size: 25px;
        background-repeat: no-repeat;

    }

    header .logo {
        margin-left: -70px;
    }

    .social {
        margin-left: -50px;
    }

    .text p {

        margin-left: -70px;
    }


    .text a {
        font-size: 1em;
        margin-left: -70px;
    }

    .text h2 {
        font-size: 2.3em;
        margin-left: -70px;
    }

    .text h3 {
        font-size: 2em;
        margin-left: -70px;
    }

    .text p {
        font-size: 1.5em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2000px;
    }

    /* Case study */

    .section-case-study {
        height: 2920px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }



    /* dubsado */

    .dubsado-light {
        height: 2000px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

    /* header {
        padding: 0px 0px;
        margin-left: 0px;
        justify-content: space-around;
    } */
}

@media screen and (min-width: 850px) and (max-width:1000px) {



    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */

    .text h2 {
        font-size: 3em;
        /* margin-left: -70px; */
    }

    .text h3 {
        font-size: 2.75em;
        /* margin-left: -70px; */
    }

    .text p {
        font-size: 1.75em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2000px;
    }

    /* Case study */

    .section-case-study {
        height: 3060px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    /* clients love */

    .container-clients-love {
        display: flex;
        justify-content: space-between;
    }

    /* dubsado */

    .dubsado-light {
        height: 1900px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

}


@media screen and (min-width: 840px) and (max-width:850px) {


    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */

    .text h2 {
        font-size: 3em;
        /* margin-left: -70px; */
    }

    .text h3 {
        font-size: 2.75em;
        /* margin-left: -70px; */
    }

    .text p {
        font-size: 1.75em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2000px;
    }

    /* Case study */

    .section-case-study {
        height: 2950px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    /* clients love */

    .container-clients-love {
        display: flex;
        justify-content: space-between;
    }

    /* dubsado */

    .dubsado-light {
        height: 1800px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

}


@media screen and (min-width: 800px) and (max-width:840px) {



    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */

    .text h2 {
        font-size: 3em;
        /* margin-left: -70px; */
    }

    .text h3 {
        font-size: 2.75em;
        /* margin-left: -70px; */
    }

    .text p {
        font-size: 1.75em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2000px;
    }

    /* Case study */

    .section-case-study {
        height: 2890px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    /* clients love */

    .container-clients-love {
        display: flex;
        justify-content: space-between;
    }

    /* dubsado */

    .dubsado-light {
        height: 1800px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

}

@media screen and (min-width: 770px) and (max-width:800px) {

    /* * {
        background: rgba(255, 0, 0, 0.418);
    } */

    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */

    .text h2 {
        font-size: 3em;
        /* margin-left: -70px; */
    }

    .text h3 {
        font-size: 2.75em;
        /* margin-left: -70px; */
    }

    .text p {
        font-size: 1.75em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2000px;
    }

    /* Case study */

    .section-case-study {
        height: 2890px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    /* clients love */

    .container-clients-love {
        display: flex;
        justify-content: space-between;
    }

    /* dubsado */

    .dubsado-light {
        height: 2000px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

}

@media screen and (min-width: 690px) and (max-width: 770px) {

    /* * {
        background: rgba(255, 0, 0, 0.418);
    } */

    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */

    .text h2 {
        font-size: 3em;
        /* margin-left: -70px; */
    }

    .text h3 {
        font-size: 2.75em;
        /* margin-left: -70px; */
    }

    .text p {
        font-size: 1.75em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2700px;
    }

    /* Case study */

    .section-case-study {
        height: 2800px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }


    /* dubsado */

    .dubsado-light {
        height: 2000px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

}



@media screen and (min-width: 620px) and (max-width:665px) {

    * {
        background: rgba(255, 0, 0, 0.418);
    }

    /* parallax effect */

    .pimg1,
    .pimg2,
    .pimg3 {

        /*
        fixed = parallax
        scroll = normal
    */
        background-attachment: scroll;
    }

    .container p {
        padding-left: 0px;
    }

    .ptext {
        font-size: .75em;
    }

    .section {
        padding: 10px 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */
    .toggle.active {
        padding-right: 500px;
        background-color: red;
        background-size: 25px;
        background-repeat: no-repeat;

    }

    header .logo {
        margin-left: -70px;
    }

    .social {
        margin-left: -50px;
    }

    .text p {

        margin-left: -70px;
    }


    .text a {
        font-size: 1em;
        margin-left: -70px;
    }

    .text h2 {
        font-size: 2.3em;
        margin-left: -70px;
    }

    .text h3 {
        font-size: 2em;
        margin-left: -70px;
    }

    .text p {
        font-size: 1.5em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2550px;
    }

    /* Case study */

    .section-case-study {
        height: 2000px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }



    /* dubsado */

    .dubsado-light {
        height: 2000px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

    /* header {
        padding: 0px 0px;
        margin-left: 0px;
        justify-content: space-around;
    } */
}


@media screen and (min-width:600px) and (max-width:630px) {

    /* * {
        background: rgba(255, 0, 0, 0.418);
    } */

    /* parallax effect */

    .pimg1,
    .pimg2,
    .pimg3 {

        /*
        fixed = parallax
        scroll = normal
    */
        background-attachment: scroll;
    }

    .container p {
        padding-left: 0px;
    }

    .ptext {
        font-size: .75em;
    }

    .section {
        padding: 10px 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */
    .toggle.active {
        padding-right: 500px;
        background-color: red;
        background-size: 25px;
        background-repeat: no-repeat;

    }

    header .logo {
        margin-left: -70px;
    }

    .social {
        margin-left: -50px;
    }

    .text p {

        margin-left: -70px;
    }


    .text a {
        font-size: 1em;
        margin-left: -70px;
    }

    .text h2 {
        font-size: 2.3em;
        margin-left: -70px;
    }

    .text h3 {
        font-size: 2em;
        margin-left: -70px;
    }

    .text p {
        font-size: 1.5em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2630px;
    }

    /* Case study */

    .section-case-study {
        height: 2860px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }



    /* dubsado */

    .dubsado-light {
        height: 2000px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

    /* header {
        padding: 0px 0px;
        margin-left: 0px;
        justify-content: space-around;
    } */
}



@media screen and (max-width:600px) {


    /* parallax effect */

    .pimg1,
    .pimg2,
    .pimg3 {

        /*
        fixed = parallax
        scroll = normal
    */
        background-attachment: scroll;
    }

    .container p {
        padding-left: 0px;
    }

    .ptext {
        font-size: .75em;
    }

    .section {
        padding: 10px 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pimg2 {
        min-height: 200px;
    }

    .pimg3 {
        min-height: 200px;
    }

    /* hero section */
    .toggle.active {
        padding-right: 500px;
        background-color: red;
        background-size: 25px;
        background-repeat: no-repeat;

    }

    header .logo {
        margin-left: -70px;
    }

    .social {
        margin-left: -50px;
    }

    .text p {

        margin-left: -70px;
    }


    .text a {
        font-size: 1em;
        margin-left: -70px;
    }

    .text h2 {
        font-size: 2.3em;
        margin-left: -70px;
    }

    .text h3 {
        font-size: 2em;
        margin-left: -70px;
    }

    .text p {
        font-size: 1.5em;
    }

    /* what i offer */

    .what-i-offer {
        height: 2700px;
    }

    /* Case study */

    .section-case-study {
        height: 2730px;
    }

    .container-portfolio {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .container-portfolio img {
        width: 100%;
        margin-top: 100px;
    }

    .container-portfolio p {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: -10px;
    }



    /* dubsado */

    .dubsado-light {
        height: 2000px;
        margin-top: 10px;
    }

    .text .h2-dubsado {
        font-size: 2.5em;
        padding: 0px;
    }

    .text .h3-dubsado {
        font-size: 1.95em;
    }

    /* header {
        padding: 0px 0px;
        margin-left: 0px;
        justify-content: space-around;
    } */
}
